stages:
  - build

build:
  stage: build
  image: 
    name: node:lts-stretch
    entrypoint: [""] 
  # rules:
  #   - changes:
  #     - src/*
  before_script:
    - apt-get -qq update && apt-get -qq install -y zip unzip sshpass
  script:
  #  - npm i
    - echo "export const host = 'ts.digitalphocus.ir'" > src/host.js
  #  - npm run build
    - mkdir build
    - zip -r build.zip build
    - ls
    - which ssh
    - which scp
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    - scp build.zip root@185.110.191.89:/home/phocus.frontend/build.zip
    - ssh root@185.110.191.89 "cd /home/phocus.frontend; rm -rf build; unzip build.zip"