stages:
  - build

build:
  stage: build
  image: 
    name: node:lts-stretch
    entrypoint: [""] 
  # rules:
  #   - changes:
  #     - src/*
  before_script:
    - apt-get -qq update && apt-get -qq install -y zip unzip sshpass
  script:
  #  - npm i
    - echo "export const host = 'ts.digitalphocus.ir'" > src/host.js
  #  - npm run build
    - mkdir build
    - zip -r build.zip build
    - ls
    - which ssh
    - which scp
    - sshpass -p "Phoenix@SERVER2001" scp build.zip root@185.110.191.89:/home/phocus.frontend/build.zip
    - sshpass -p "Phoenix@SERVER2001" ssh root@185.110.191.89 "cd /home/phocus.frontend; rm -rf build; unzip -r build.zip"