* {
    font-size: 0.800rem;
}

.MuiToolbar-root {
    height: 54px !important;
    padding: 0px;
}

.MuiToolbar-regular {
    min-height: 54px !important;
}

.MuiListItemIcon-root {
    width: 24px !important;
    min-width: 24px !important;
    margin-right: 24px;
}

.MuiListItemIcon-root>.MuiSvgIcon-root {
    color: rgb(132, 132, 132);
}

.MuiListItemText-root>.MuiTypography-body1 {
    font-weight: 200;
}

.Active>.MuiSvgIcon-root {
    color: #fff !important
}

.Active>.MuiTypography-body1 {
    color: #fff !important;
    font-weight: 500;
}

.UpDownPNG {
    box-sizing: border-box;
    background-image: url("../assets/updown.png");
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#external-events .fc-event,
.fc-event-dragging {
    background: #03a9f4;
    border-radius: 0.2em;
    text-align: center;
    padding: 4px;
    color: #fff;
    margin: 4px 0;
}

.MuiPickersBasePicker-container .MuiToolbar-root {
    padding: 3em 1em;
}

.MuiSelect-outlined.MuiSelect-outlined{
    font-size: 0.8rem;
}